
.appbox
{
    display: block;
    padding: 50px;
    color: black;
    height: 200px; 
    margin-left: 3%;
    background-color: #fff6ea;
    float:left;
    border-radius: 10px;
    font-size: medium;
    font-size: x-large;  
    justify-content: flex;
    display: inline;
    gap: 40px;
}
.appb1
{
    display: block;
    padding: 20px;
    background-color: whitesmoke; 
border-radius: 10px;
    text-align: left;
}
.appb1 p {
    animation: typing 2s steps(50), blink-caret 2s step-end infinite;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Ensure the text doesn't overflow */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}  
.bt1 button
{
    padding: 10px;
    width: 40%;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff914d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0.5px;
    border-radius: 5px;
    font-size: x-large;
    animation: fadeIn 3s ease-in-out;  
    color: #fff6ea; 
}
.bt1 button:hover
{
    background-color: rgb(154, 65, 33);
    text-decoration:solid;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media (max-width: 1024px) {
    .appbox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        height: auto;
    }
    .bt1 button {
        width: 60%;
    }
    .slides img {
        margin-right: 20px;
        width: 80%;
    }
}
/* Media query for mobile devices */
@media (max-width: 768px) {
    .appbox {
        width: 100%;
        margin-left: 0;
        padding: 20px;
        height: auto;
    }
    .bt1 button {
        width: 100%;
    }
    .slides img {
        width: 100%;
        margin-right: 0;
    }
  }
    


