.header{
    background-color: #fff6ea;
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
}
.logo img
{
    height: 65px;
    width:auto;
    margin-left: 25%;
    cursor: pointer;
    
}

.interview
{
    text-align: center;
    margin-left: 8%;
    font-synthesis-weight:auto;
    font-size: larger;
    cursor: pointer;
    
}
.interview :hover
{
    color: #ff914d;
    
}
.resume
{
    text-align: center;
    margin-left: 5%;
    font-synthesis-weight:auto;
    font-size: larger;
    cursor: pointer;
    
}
.resume :hover
{
    color: #ff914d;
}
#displaynav
{
    background-color: #fff6ea;
    color: #ff914d;
    width: 200px;
    margin: auto;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: normal;
    cursor: pointer;
    height: 30px;
    
}
.login
{
    display: flex;
    padding: 10px;
    align-items: right;
    margin-left: 500px;
   
}
.login img
{
    height: 25px;
    width:35px;
    margin-left: 5px;
    align-items: right;
    cursor: pointer;
    padding: 10px;
}
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: auto;
    }
    .logo img {
        margin-left: 0;
    }
    .interview, .resume {
        margin-left: 0;
        font-size: medium;
    }
    .login {
        flex-direction: column;
        margin-left: 0;
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }
    .logo img {
        height: 50px;
        margin-left: 0;
    }
    .interview, .resume {
        margin-left: 0;
        font-size: small;
    }
    .login {
        flex-direction: column;
        margin-left: 0;
    }
    #displaynav {
        font-size: medium;
     }
    }





