input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 110%;
    font-size: medium;
    border: solid;
    border-color: silver;
   
    
}
.lbt1 button{
   align-items: center;
   padding: 10px;
    width: 300px;
    cursor: pointer;
    background-color: #ff914d;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0.5px;
    border-radius: 5px;
    font-size: larger;
    margin-left: 25%;
    color: white;
    font-weight: bold;
   
    
    
}

button:hover
{
    background-color: rgb(154, 65, 33);
}
.box
{
    display: block;
    padding:  33px 100px;
    color: black;
    max-width: 600px;
    height: 450px; 
    margin:auto;
    background-color: white;
    float:center;
    border-radius: 10px;
    font-size: medium;
    
}
#Student,#gender,#date
{
    color: #ff914d;
}
#gender,#Student
{
    padding: 10px;
    width: 122%;
    font-size: medium;
    border-radius: 10px;
    display: block;
    border: solid;
    border-color: silver;
    
    
  
}
a{
    text-decoration: none;
    color: black;
}
.page
{
    background-color: whitesmoke;
    height: 750px;
   
}
.logoin img
{
    float: left;
    height: 55px;
    width:auto;
    margin-left: 3%;
    cursor: pointer;
}
.sign
{
    display: flex;
}
.sign u
{
    cursor: pointer;
    color: #ff914d;
    margin-left: 20px;
}
.reqd
{
   justify-content: flex;
   gap: auto;
}
.sp
{
    display: flex;
    justify-content: space-between;
}







